body{background-color: #FFFFFF;}
		a{color: whitesmoke;font-size: 100px;text-decoration: unset;display:inline-block ;margin: 50px; border-bottom: 5px solid transparent; transition: 0.2s ease-out;}
		a:hover{border-bottom-color: whitesmoke;}
		p{font-size: 75px;color: white; text-align:center; margin: 30px;}
		h1{text-align: center; color: white;}
		h2{text-align: center;color: white;}
		div{text-align: left;padding:1px;background-color: #000000;width: 90%; margin: auto; box-shadow: 0 0 40px 40px rgba(0, 3	, 0, 1.0);}
		img{max-width: 100%; height: auto;display: block;margin: 40px 0;}
		iframe{margin: 10px;max-width: 100%;display: block;}
		