main{background-color: mistyrose; font-family: 'Eater', cursive;}
.h1{ padding: auto; }
.img-box {
	column-count: 4;
	column-gap: 6px;
	width: 97%;
	max-width: 3500px;
	margin: auto;
}
.image{
	max-width: 100%;
	display: block;
}
.image-wrapper+.image-wrapper{margin: 6px 0}
.image-wrapper{display: block; opacity: .7; transition: .4s; filter: blur(1px); filter: drop-shadow(2px 5px 5px red) invert(75%);}

.image-wrapper:hover{opacity: 1; filter: blur(0);}
.heading{ font-size: 80px; text-align: center; width: 100%; color: #f7bcea; padding: 50px 10px}
