*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing:border;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background-color: mistyrose;
}
.heading{ text-align: center; font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Rubik Puddles', cursive;
width: 100%; font-size: 60px;
padding: 10px 0; background-color: #b0f7d5;
} 



.main{
	background-color: #a1f7ce;
	display: flex;
	width: 68.5%;
	margin: auto;
	wax-width: 1000px;
	flex-wrap: wrap;
}
.item{
	background-position: center;
	background-size: cover;
	-webkit- background-size: cover;
	max-height: 499px;
	max-width: 499px;
	width: calc(50% - 10px);
	height: calc(95vw / 2 / 16 * 9);
	background-color: darkkhaki;
	margin: 10px;
	padding: 55px;
}
.item:hover{ opacity: 1; transform: scale(1.1);
z-index: 1000; box-shadow: 0 0 40px 40px rgba(0, 255, 132, .2);}
.item{opacity: .7; display: block; transition: .3s ease-in-out;}

